:root {
  --main-dark-color: black;
  --button-face: #808080;
  --button-shadow: #404040;
  --window-frame: #0a0a0a;
  --button-highlight: #ffffff;
  --active-menu: #803f41;
  --menu: #b19a92;
  --border-sunken-outer: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face),
    inset 2px 2px var(--button-shadow);
}
div {
  background: url("assets/paper.png");
  background-size: 100px 100px;
}
.ultima {
  filter: drop-shadow(1px 3px 3px black);
  border-image-source: url("assets/ultima.png");
  border-image-slice: 32;
  border-image-width: 28px;
  border-width: 28px;
  border-style: solid;
  border-color: transparent;
  border-radius: 30px;
  background: url("assets/ultima_tile.png");
}
/* 
@font-face {
  font-family: "Alkhemikal";
  src: url("assets/Alkhemikal.ttf") format("embedded-opentype"),
    url("assets/Alkhemikal.ttf") format("woff2"),
    url("assets/Alkhemikal.ttf") format("woff"),
    url("assets/Alkhemikal.ttf") format("truetype"),
    url("assets/Alkhemikal.ttf") format("svg");
} */
@font-face {
  font-family: "OfenbacherSchwabCAT";
  src: url("assets/OfenbacherSchwabCAT.ttf") format("embedded-opentype"),
    url("assets/OfenbacherSchwabCAT.ttf") format("woff2"),
    url("assets/OfenbacherSchwabCAT.ttf") format("woff"),
    url("assets/OfenbacherSchwabCAT.ttf") format("truetype"),
    url("assets/OfenbacherSchwabCAT.ttf") format("svg");
}

@font-face {
  font-family: "NotoSansSymbols";
  src: url("assets/NotoSansSymbols.subset.ttf") format("embedded-opentype"),
    url("assets/NotoSansSymbols.subset.ttf") format("woff2"),
    url("assets/NotoSansSymbols.subset.ttf") format("woff"),
    url("assets/NotoSansSymbols.subset.ttf") format("truetype"),
    url("assets/NotoSansSymbols.subset.ttf") format("svg");
}

/* @font-face {
  font-family: "pixelmixregular";
  src: url("assets/pixelmix-webfont.woff2") format("woff2"),
    url("assets/pixelmix-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: "times16";
  src: url("assets/times-16-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

* {
  margin: 0;
  font-family: "OfenbacherSchwabCAT", NotoSansSymbols, serif;

  /* font-family: "pixelmixregular", monospace; */
  /* font-family: "times16" !important; */
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: var(--main-dark-color);
}
svg {
  font-family: NotoSansSymbols, serif;
}
html,
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  overflow-x: hidden;
  overflow: hidden;

  /* cursor: url("assets/White_sword.cur"), auto; */
}
* {
  cursor: url("assets/default32x32.cur"), auto !important;
  /* cursor: url("assets/SKELETON_04.gif"), auto !important; */
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  font-size: 30px;
  height: 100%;

  /* background: url("http://1-background.com/images/vellum/vellum-old-vellum-background1.jpg"); */
  /* background: url("assets/ultima_tile.png"); */
  /* 
  border-image-source: url("https://www.webomator.com/grafx2/blog/IEEE_forge.jpg");
  border-image-slice: 32;
  border-image-width: 28px;
  border-image-repeat: repeat;
  border-width: 28px;
  border-style: solid;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 30px; */
  /* background: url("assets/ultima_tile.png"); */
  /* background: url("https://www.webomator.com/grafx2/blog/IEEE_forge.jpg"); */
  background: url("assets/paper.png");

  /* /* background-size: 1000px 1000px; */
  background-repeat: repeat;
  background-color: rgb(72, 88, 72);
  background-size: 120px 120px;
  /* backdrop-filter: sepia(100%) contrast(0.9) hue-rotate(-20deg) brightness(0.15); */
}

#scene {
  display: flex;
  width: 100%;
}

#jar {
  line-height: 0px;
}
canvas {
  position: absolute;
  top: 0px;
  bottom: 70px;
  right: 0px;
  left: 0px;
  margin: 20px;
  /* width: 100%; */
  height: 100vh;
  z-index: 1;
  /* max-width: calc(100%); */
  line-height: 0.6;
  /* width: calc(100% - 0px); */
  /* max-width: ca100%; */
  margin: auto;
  margin-bottom: 0px;
  /* border: 1px black solid; */
}

#sand-canvas {
  z-index: 2;
  margin: auto;
  /* filter: drop-shadow(2px 4px 6px gray); */
  /* cursor: pointer; */
}

canvas,
img {
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  margin: 0;
}

button {
  z-index: 3;
  /* zoom: 1.25; */
  position: relative;
  /* padding: 5px 5px; */
  /* flex-grow: 1; */
  /* max-width: 90px; */
  fill: var(--main-dark-color);
  cursor: pointer;
  user-select: none; /* Standard */

  box-sizing: border-box;
  border-color: white;
  dominant-baseline: middle;
  text-anchor: middle;
  background-color: var(--menu);
  border: none;
  font-family: NotoSansSymbols, serif;
  box-shadow: none !important;
  border: 1px outset gainsboro;
}
button.selected {
  box-shadow: none !important;
  border: 1px inset gainsboro;
}
.active button {
  background-color: gainsboro;
}
button:disabled {
  background-color: gainsboro;
  color: gray;
}

button:focus {
  outline: none;
}

button.selected {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  /* border-style: inset; */
}

#HUD {
  position: absolute;
  right: 0px;
  max-width: 420px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  z-index: 3;
  /* padding: 4px; */
}
.hud-body {
  margin: 1px 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  zoom: 1.5;
}
@media only screen and (max-width: 600px) {
  .hud-body {
    /* zoom: 1; */
  }
}
#hud-buttons {
  display: flex;
  flex-wrap: wrap;
}
#hud-buttons button {
  margin: 2px;
  height: 30px;
  width: 30px;
  min-width: 30px;
  font-size: 18px;
  line-height: 25px;
  padding: 0;
}
#HUD a {
  /* flex-grow: 1; */
  height: 100%;
  /* line-height: 0; */
}

.fade {
  opacity: 1;
  transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}

.faded .fade {
  transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  #welcome {
    zoom: 1.25;
  }
}
#controls {
  display: flex;
}

.menu {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  z-index: 5;
  background-color: #f3f3f4;
  border: 1px solid gray;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 5px;
  max-width: 900px;
  margin: auto;
  overflow-y: auto;
}

.menu-scrim {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 4;
  background-color: #55555555;
}
.x {
  position: absolute;
  right: 4px;
  top: 5px;
  line-height: 0px;
}
.window {
  background-color: var(--menu);
  /* background: url("assets/ultima_tile.png"); */
}
.title-bar {
  background-color: var(--active-menu) !important;
  background: none;
  zoom: 1.8;
  padding: 1px;
}
.title-bar .title-bar-text {
  line-height: 0;
  font-size: 14px !important;
  margin-right: 10px;
}

button:not(:disabled):active {
  padding: 1px 5px !important;
}
.mat-box {
  fill: rgba(255, 255, 255, 0.9);
  transition: fill 0.25s;
  /* background: url("assets/ultima_tile.png"); */
}

.mat-box:hover {
  stroke: rgb(231, 243, 246) !important;
  stroke-width: 4px;
}
.disabled rect {
  /* fill: #c0c0c0 !important; */
  /* opacity: 0.8; */
}
.disabled rect:hover {
  /* fill: #c0c0c0 !important; */
}

svg {
  user-select: none;
}
.bsvg {
  fill: transparent;
  stroke: black;
  stroke-width: 20px;
  height: 100%;
  /* stroke-linejoin:; */
}
svg text {
  dominant-baseline: middle;
  text-anchor: middle;
  stroke-width: 0 !important;
}
.MatrixMenu svg {
  stroke: #5a5a5a;
  /* opacity: 0.8; */
}
.tch {
  position: absolute;
  z-index: 15;
  /* filter: drop-shadow(1px 1px 2px #500); */
}

img {
  user-select: none;
  /* filter: drop-shadow(1px 1px 1px #500); */
}

g.clause.disabled {
  opacity: 0.5;
  filter: brightness(0.7);
}
.symmetry.disabled > text {
  opacity: 0.2;
}
text {
  /* filter: drop-shadow(1px 1px 3px red); */
}
#bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: var(--active-menu);
  border: 2px outset var(--active-menu);

  font-size: 20px;
  box-shadow: 0px 0px 5px #000000;
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
}
#bar img {
  display: inline-block;
  /* max-width: 33%; */
  /* height: auto; */
  /* background-image: url("assets/pentagramanimation.gif"); */
  /* background-size: 30px 30px; */
}
#start img {
  /* filter: saturate(20); */
  /* height: 30px; */
  width: 30px;
}
#start {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 80px;
  background-color: var(--menu);
  height: 27px;
  margin: 1px;
  box-sizing: border-box;
  /* line-height: 0; */
  text-align: center;
  border: 3px outset var(--menu);
}
#fps {
  position: absolute;
  bottom: 0;
  z-index: 1;

  right: 0;
  width: 100px;
  background-color: var(--menu);
  height: 27px;
  margin: 2px;
  box-sizing: border-box;
  /* text-align: right; */

  border: 3px inset var(--menu);
}
